# Save to /home/pi/.config/systemd/user/einsatzmonitor.service
#
[Unit]
Description=EinsatzMonitor daemon
PartOf=graphical-session.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/pi/linux-armv7l-unpacked/einsatzmonitor
Type=simple

[Install]
WantedBy=graphical-session.target


# Enable & Start
#
# su - pi
#
# export DISPLAY=:0
# export XDG_RUNTIME_DIR="/run/user/$UID"
# export DBUS_SESSION_BUS_ADDRESS="unix:path=${XDG_RUNTIME_DIR}/bus"
#
# systemctl daemon-reload
# systemctl --user --no-block enable einsatzmonitor
# systemctl --user --no-block start einsatzmonitor