# Save to /etc/systemd/system/einsatzmonitor.service
#
[Unit]
Description=EinsatzMonitor daemon
PartOf=graphical-session.target
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/opt/einsatzmonitor/einsatzmonitor
Type=simple
User=pi

[Install]
WantedBy=graphical.target


# Enable & Start (run as root)
#
# systemctl daemon-reload
# systemctl enable einsatzmonitor
# systemctl start einsatzmonitor