/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Roboto/roboto-v18-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/Roboto/roboto-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/Roboto/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/Roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/Roboto/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/Roboto/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Roboto/roboto-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/Roboto/roboto-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Roboto/roboto-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Roboto/roboto-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto/roboto-v18-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Lato/lato-v14-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Lato Hairline'), local('Lato-Hairline'),
       url('../fonts/Lato/lato-v14-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/lato-v14-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato/lato-v14-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Lato/lato-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/Lato/lato-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/lato-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato/lato-v14-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/Lato/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/Lato/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Lato/lato-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/Lato/lato-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato/lato-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato/lato-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato/lato-v14-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}


/* titillium-web-regular - latin_latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* titillium-web-600 - latin_latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* titillium-web-700 - latin_latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Titillium-Web/titillium-web-v7-latin_latin-ext-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
